#begin <WP_DESKTOP>
#setup REMOVEFONTS=YES;ICONTEXTCOLOR=255 255 255;ICONSHADOWCOLOR=127 127 127;BACKGROUND=C:\OS2\BITMAP\BIGBLU.BMP,T,,I,0 0 204;ICONTEXTBACKGROUNDCOLOR=0 0 127;
#end

#begin <OS2GG>
#delete
#end
