body {
	font-family: inherit;
	background: #fff;
	color: #000;
	margin: 1em;
}
#header {
	background: #fff;
	color: #000;
}
#content {
	background: #fff;
	color: #000;
}
#footer {
	background: #fff;
	color: #000;
}
a:link {
	text-decoration: underline;
	color: #0000ef;
}
a:visited {
	color: #00008c;
	text-decoration: underline;
}
a:link:hover, a:visited:hover {
	color: #00008b;
	font-weight: bold;
	text-decoration: underline;
	background: #ffff90;
}
a:link:active, a:visited:active {
	color: #f00;
	font-weight: bold;
	text-decoration: underline;
	background: #ffff10;
}
h1 {
	text-align: center;
	font: bold 1.96em sans-serif;
}
#content ul {
	list-style-position: outside;
	margin-left: 1em;
	line-height: .85em;
}
#bttmNav ul {
	list-style: none;
	margin: 0;
	margin-right: 1em;
	text-align: center;
}
#bttmNav ul li {
	display: inline;
}
#bttmNav ul li a {
	padding-left: 1em;
	padding-right: 1em;
	border-right-color: #0000ef;
	border-right-style: solid;
	border-right-width: .1em;
}
li.folder {
	list-style-image: url("../pics/folder.gif");
}
li.url {
	list-style-image: url("../pics/webx.gif");
}